@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cabin:wght@400;500;600;700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

:root {
    --clr-primary-bright-orange: hsl(31, 77%, 52%);
    --clr-primary-dark-cyan: hsl(184, 100%, 22%);
    --clr-primary-very-dark-cyan: hsl(179, 100%, 13%);

    --clr-secondary-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-secondary-very-light-gray: hsl(0, 0%, 95%);

    --ff-Lexend-Deca: "Lexend Deca", Fraunces;
    --ff-Big-Shoulders-Display: "Big Shoulders Display", san-serif;


}

*,
*::before, 
*::after{
    box-sizing: border-box;
}

body {
    background: var(--clr-secondary-very-light-gray);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-secondary-transparent-white);
    font-family: var(--ff-Lexend-Deca);
    font-weight: 400;
}

.content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 307px 307px 307px;
    grid-template-rows: 32rem;
}

.card {
    padding-left: 15%;
    padding-top: 15%;
    padding-right: 16%;
}

.card-a {
    background: var(--clr-primary-bright-orange);
    border-radius: 10px 0 0px 10px;

}

.card-b {
    background: var(--clr-primary-dark-cyan);
}

.card-c {
    background: var(--clr-primary-very-dark-cyan);
    border-radius: 0px 10px 10px 0;

}

h1 {
    color: var(--clr-secondary-very-light-gray);
    font-family: var(--ff-Big-Shoulders-Display);
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 30px;
}

p {
    color: var(--clr-secondary-transparent-white);
    font-family: var(--ff-Lexend-Deca);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

button {
    margin-top: 80px;
    background-color: var(--clr-secondary-very-light-gray);
    padding: 14px 32px;
    border-radius: 100rem;
    font-family: var(--ff-Lexend-Deca);
    font-weight: 400;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    padding: 0 5px;
    font-size: 15px;
}

.button-a {
    color: var(--clr-primary-bright-orange);
}

.button-b {
    color: var(--clr-primary-dark-cyan);
}

.button-c {
    color: var(--clr-primary-very-dark-cyan);
}

button:hover, .button:focus {
    background-color: black;
    border: solid 2px aqua;

}

@media only screen and (max-width: 950px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    
    .content {
        margin-top: 58em;
        margin-bottom: 3em;
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 32rem 32rem 32rem;
    }

    .card-a {
        border-radius: 10px 10px 0px 0px;
    }
    
    .card-c {
        border-radius: 0px 0px 10px 10px;  
    }
    
    h1 {
        padding-bottom: 10px;
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.4;
    }

    button {
        padding: 12px 35px;
    }
};